{% extends 'layout.html' %}
{% block title %}{{ course.code }} - EduApp{% endblock %}

{% block extra_css %}
{{ block.super }}
<style>
.course-detail {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    gap: 10px;
}
</style>
{% endblock %}

{% block content %}
<div class="course-detail">
<h1>{{ course.code }}</h1>
<p><strong>Description</strong> {{ course.description }}</p>
<div>
    <a class="btn btn-primary" href="{% url 'students:courses-update' course.id %}">Edit</a>
    <form method="post" action="{% url 'students:courses-delete' course.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <a class="btn btn-primary" href="{% url 'students:courses-list' %}">Back to List</a>
</div>
</div>
{% endblock %}


