{% extends 'layout.html' %}
{% block title %}Enrollments - EduApp{% endblock %}

{% block page_title %}Enrollments{% endblock %}

{% block content %}
<div class="card-header">
<h1>Enrollments</h1>
<form method="get" class="mb-3">
    <div class="flex-search"> 
    <input type="text" name="q" placeholder="Search by name..." value="{{ query }}">
    <button class="btn" type="submit">Search</button>
    </div>
</form>
{% if is_admin %}
<a class="btn btn-primary" href="{% url 'students:enrollments-create' %}">Add New Enrollments</a>
{% endif %}
</div>
<table class="data-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Student</th>
            <th>Course</th>
            <th>Grade</th>
            <th>Score</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for enrollment in enrollments %}
        <tr>
            <td>{{ enrollment.id }}</td>
            <td>{{ enrollment.student }} </td>
            <td>
                <a href="{% url 'students:courses-detail' enrollment.course.id %}"> {{ enrollment.course }}</a>
            </td>
            <td>{{ enrollment.grade }}</td>
            <td>{{ enrollment.score }}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'students:enrollments-detail' enrollment.id %}">View</a>
                {% if is_admin %}
                <a class="btn btn-primary" href="{% url 'students:enrollments-update' enrollment.id %}">Edit</a>
                <form method="post" action="{% url 'students:enrollments-delete' enrollment.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No enrollment found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
