{% extends 'layout.html' %}
{% block title %}{{ instructor.first_name}} {{instructor.last_name }} - EduApp{% endblock %}

{% block extra_css %}
{{ block.super }}
<style>
.instructor-detail {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    gap: 10px;
}
</style>
{% endblock %}

{% block content %}
<div class="instructor-detail">
    <h2>{{ instructor.first_name }} {{instructor.last_name}}</h2>
<div class="actions">
    <a class="btn btn-primary" href="{% url 'students:instructors-update' instructor.id %}">Edit</a>
    <a class="btn btn-danger" href="{% url 'students:instructors-delete' instructor.id %}">Delete</a>
    <a class="btn btn-primary" href="{% url 'students:instructors-list' %}">Back to List</a>
</div>
</div>
{% endblock %}


